<!-- auth.component.html -->
<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h1 class="auth-title">欢迎回来</h1>
      <p class="auth-subtitle">请登录您的账户或创建新账户</p>
    </div>

    <nz-tabset class="auth-tabs" [(nzSelectedIndex)]="selectedIndex" nzSize="large">
      <!-- 登录选项卡 -->
      <nz-tab nzTitle="登录">
        <form nz-form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="auth-form">
          <div class="form-group">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="loginEmailErrorTpl">
                <input nz-input formControlName="email" placeholder="请输入邮箱地址" />
                <ng-template #loginEmailErrorTpl let-control>
                  @if (control.hasError('required')) {
                    <span>请输入邮箱地址</span>
                  }
                  @if (control.hasError('email')) {
                    <span>邮箱格式不正确</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="loginPasswordErrorTpl">
                <input nz-input type="password" formControlName="password" placeholder="请输入密码" />
                <ng-template #loginPasswordErrorTpl let-control>
                  @if (control.hasError('required')) {
                    <span>请输入密码</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="loginCaptchaErrorTpl">
                <div class="captcha-group">
                  <div class="captcha-input">
                    <input nz-input formControlName="captcha" placeholder="请输入验证码" />
                  </div>
                  <button nz-button class="captcha-btn" type="button" (click)="refreshCaptcha()">
                    {{ captchaText() }}
                  </button>
                </div>
                <ng-template #loginCaptchaErrorTpl let-control>
                  @if (control.hasError('required')) {
                    <span>请输入验证码</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <button nz-button class="submit-btn" nzType="primary" nzBlock [disabled]="loginForm.invalid" [nzLoading]="isLoading">
            登录
          </button>

          <div class="social-divider">
            <span>或使用以下方式登录</span>
          </div>

          <div class="social-buttons">
            <button nz-button class="social-btn google" type="button">
              <i nz-icon nzType="google"></i>
              Google
            </button>
            <button nz-button class="social-btn github" type="button">
              <i nz-icon nzType="github"></i>
              GitHub
            </button>
            <button nz-button class="social-btn wechat" type="button">
              <i nz-icon nzType="wechat"></i>
              微信
            </button>
          </div>
        </form>
      </nz-tab>

      <!-- 注册选项卡 -->
      <nz-tab nzTitle="注册">
        <form nz-form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="auth-form">
          <div class="form-group">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="registerEmailErrorTpl">
                <input nz-input formControlName="email" placeholder="请输入邮箱地址" />
                <ng-template #registerEmailErrorTpl let-control>
                  @if (control.hasError('required')) {
                    <span>请输入邮箱地址</span>
                  }
                  @if (control.hasError('email')) {
                    <span>邮箱格式不正确</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="registerPasswordErrorTpl">
                <input nz-input type="password" formControlName="password" placeholder="请设置密码（至少6位）" />
                <ng-template #registerPasswordErrorTpl let-control>
                  @if (control.hasError('required')) {
                    <span>请输入密码</span>
                  }
                  @if (control.hasError('minlength')) {
                    <span>密码至少6位</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="registerConfirmErrorTpl">
                <input nz-input type="password" formControlName="confirmPassword" placeholder="请确认密码" />
                <ng-template #registerConfirmErrorTpl let-control>
                  @if (control.hasError('required')) {
                    <span>请确认密码</span>
                  }
                  @if (registerForm.hasError('confirm')) {
                    <span>两次输入的密码不一致</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="registerCaptchaErrorTpl">
                <div class="captcha-group">
                  <div class="captcha-input">
                    <input nz-input formControlName="captcha" placeholder="请输入验证码" />
                  </div>
                  <button nz-button class="captcha-btn" type="button" (click)="refreshCaptcha()">
                    {{ captchaText() }}
                  </button>
                </div>
                <ng-template #registerCaptchaErrorTpl let-control>
                  @if (control.hasError('required')) {
                    <span>请输入验证码</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <button nz-button class="submit-btn" nzType="primary" nzBlock [disabled]="registerForm.invalid" [nzLoading]="isLoading">
            注册
          </button>

          <div class="social-divider">
            <span>或使用以下方式注册</span>
          </div>

          <div class="social-buttons">
            <button nz-button class="social-btn google" type="button">
              <i nz-icon nzType="google"></i>
              Google
            </button>
            <button nz-button class="social-btn github" type="button">
              <i nz-icon nzType="github"></i>
              GitHub
            </button>
            <button nz-button class="social-btn wechat" type="button">
              <i nz-icon nzType="wechat"></i>
              微信
            </button>
          </div>
        </form>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
